!travel_recommender_frontend/
/travel_recommender_frontend/node_modules
**/.idea
**/*.iml
**/*.ipynb
**/*.html
!/travel_recommender_frontend/**/*.html
**/*.log
**/*.ipr
**/*.iws
!**/src/main/**
!**/src/test/**
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/HELP.md
**/target/
traveling3.0
**/transaction*/
**/__pycache__/