<app-top-bar></app-top-bar>
<!-- 最上，滚动条，下方问题栏，最后致谢
滚动card? -->

<!-- <app-messages></app-messages> -->
<!-- 逐个显示问题 -->
			<div class = "StartPic">
		    	<img class = "StartPic" [hidden] = "pichide" src = "../../assets/img/page_start.png"  alt="example" (click) = "startQuestion()"/>
		    </div>


<nz-layout [hidden] = "!pichide" >
<!-- 	<nz-layout>
		<nz-sider [nzWidth] = 200 [nzTheme] = "light">
		</nz-sider>
		<nz-content>
					<nz-carousel nzAutoPlay>
		      <div nz-carousel-content *ngFor="let index of array">
		        <img class = "carouselPic" alt="example" [src]="index" />
		      </div>
		    </nz-carousel>
		    
		</nz-content>
		<nz-sider [nzWidth] = 200 [nzTheme] = "light">
		</nz-sider>
	</nz-layout> -->
	<nz-layout >
		<nz-sider [nzWidth] = 200 [nzTheme] = "light" >
		</nz-sider>
		<nz-content>



		<div  *ngFor="let question of questions" style = "justify-content: space-between;" #scrollMe>
		      	<div nz-row>
		      		<app-question-card  [questions]="question" (dataChange)="onDataChange($event)" [hidden] = "question.hidden"></app-question-card>
		        </div>
		</div>
		
		<div >
			<button  nz-button nzType="default" [hidden] = "next_hidden" (click) = "nextpage()">Next</button>
		</div>
		</nz-content>
		<nz-sider [nzWidth] = 200 [nzTheme] = "light">
		</nz-sider>
	</nz-layout>
<!-- 	<nz-footer>
	</nz-footer> -->

</nz-layout>
<nz-layout>
	<nz-footer class = "info">
		<br>
		<br>
		M.Tech (IS) course group project as part of Reasoning Systems course<br>
		Data Source:https://www.tripadvisor.com.sg/Home-g294265    https://en.wikipedia.org/wiki/Wiki  
	</nz-footer>

</nz-layout>